{% load humanize %}

<c-layouts.base>
<div class="stack">
  
<p>The Deed Machine is a multi-language set of tools that use OCR and crowdsourced transcription to identify racially restrictive covenant language, then map the results.</p>

<p>The Deed Machine was created at Mapping Prejudice at the University of Minnesota Libraries. Current collaborators include Michael Corey, Suleman Diwan, Justin Schell, and the University of Minnesota Libraries IT staff.</p>

{% for workflow in all_workflows %}
    <p><a href="{% url 'workflow' workflow.id %}">{{ workflow }}</a></p>
  {% endfor %}
</div>
</c-layouts.base>