
{% load humanize %}
<c-layouts.base>
  <div class="stack">
  <header>
    <h3>{{workflow.workflow_name}} summary</h3>
    <i>Last updated: {{last_update}}</i>
  </header>

  <div>
    <c-map></c-map>
  </div>

  <p><a href="{% url 'workflow_matches' workflow.id %}">Workflow current match status</a></p>
  <c-workflow.table
    :subject_count="subject_count"
    :covenants_count="covenants_count"
    :mapped_count="mapped_count"
    :covenants_maybe_count="covenants_maybe_count"
  />

  <c-workflow.charts
    :deed_year_data_json="deed_year_data_json"
  />

  <h3>Admin links</h3>
  <ul>
    <li><a href="/admin/zoon/zooniversesubject/?workflow__workflow_name={{workflow.workflow_name}}">Zooniverse subjects</a></li>
    <li><a href="/admin/zoon/manualcovenant/?workflow__workflow_name={{workflow.workflow_name}}">Manual covenants</a></li>
    <li><a href="/admin/deed/deedpage/?workflow__id__exact={{workflow.id}}">Deed pages</a></li>
    <ul><li><a href="/admin/deed/deedpage/?workflow__id__exact={{workflow.id}}&bool_match__exact=1">Flagged matches only</a></li></ul>
    <li><a href="/admin/parcel/parcel/?workflow__id__exact={{workflow.id}}">Parcels</a></li>
  </ul>

  {% for section in export_sections %}
    {% if section.exports %}
      <div class="fill warning padding-m margin-start-m" style="border-left: 4px solid #ccc;">
        <h3>{{ section.title }}</h3>
        {% for export in section.exports %}
          {% if forloop.first %}
            <c-workflow.download-link :export="export" />
          {% else %}
            {% if forloop.counter == 2 %}
              <details>
                <summary>Show more exports</summary>
            {% endif %}
            <c-workflow.download-link :export="export" />
            {% if forloop.last %}
              </details>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>
</c-layouts.base>
