
{% load humanize %}
<c-layouts.base>
  <div class="stack">
  <header>
    <h2>{{workflow.workflow_name}} summary</h2>
    <i>Last updated: {{last_update}}</i>
  </header>

  <div>
    <c-map></c-map>
  </div>

  <p><a href="{% url 'workflow_matches' workflow.id %}">Workflow current match status</a></p>
  <c-workflow.table
    :subject_count="subject_count"
    :covenants_count="covenants_count"
    :mapped_count="mapped_count"
    :covenants_maybe_count="covenants_maybe_count" 
  />

  <h3>Admin links</h3>
  <ul>
    <li><a href="/admin/zoon/zooniversesubject/?workflow__workflow_name={{workflow.workflow_name}}">Zooniverse subjects</a></li>
    <li><a href="/admin/zoon/manualcovenant/?workflow__workflow_name={{workflow.workflow_name}}">Manual covenants</a></li>
    <li><a href="/admin/deed/deedpage/?workflow__id__exact={{workflow.id}}">Deed pages</a></li>
    <ul><li><a href="/admin/deed/deedpage/?workflow__id__exact={{workflow.id}}&bool_match__exact=1">Flagged matches only</a></li></ul>
    <li><a href="/admin/parcel/parcel/?workflow__id__exact={{workflow.id}}">Parcels</a></li>
  </ul>

  {% for section in export_sections %}
    <h3>{{ section.title }}</h3>
    {% for export in section.exports %}
      <c-workflow.download-link :export="export" />
    {% endfor %}
  {% endfor %}
</div>
</c-layouts.base>
