AWS_ACCESS_KEY_ID= # get from an account admin
AWS_SECRET_ACCESS_KEY= # get from an account admin

ELASTICSEARCH_PASSWORD= # get from terminal output after installing elasticsearch (see docs/modules/installation.rst)
ELASTICSEARCH_API_KEY= # get from terminal output after installing elasticsearch (see docs/modules/installation.rst)