[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
pandas = "*"
geopandas = "*"
django = "*"
psycopg2-binary = "*"
django-postgres-copy = "*"
scikit-learn = "*"
sqlalchemy = "<2.0"
pyyaml = "*"
psycopg2 = "*"
django-admin-rangefilter = "*"
django-storages = "*"
requests = "*"
django-localflavor = "*"
inflect = "*"
pyproj = "*"
boto3 = "*"
gunicorn = "*"
click = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-gis = "*"
ndjson = "*"
panoptes-client = "*"
django-debug-toolbar = "*"
joblib = "*"
# joblib = "==1.1.0"  # TEMP to get around bug, but leaves security vulnerability in place
fiona = "*"
django-extensions = "*"
panoptes-aggregation = {editable = true, ref = "master", git = "git+https://github.com/zooniverse/aggregation-for-caesar"}
jupyter = "*"
notebook = "==6.5.5"
traitlets = "==5.9.0"

[dev-packages]
csvkit = "*"
jupyter = "*"
ipython = "*"
altair = "*"

[requires]
python_version = "3.9"
