[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
pandas = "*"
geopandas = "*"
django = "*"
psycopg2-binary = "*"
django-postgres-copy = "*"
scikit-learn = "*"
sqlalchemy = "*"
pyyaml = "*"
psycopg2 = "*"
django-admin-rangefilter = "*"
django-storages = "*"
requests = "*"
django-localflavor = "*"
inflect = "*"
pyproj = "*"
boto3 = "*"
gunicorn = "*"
click = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-gis = "*"
ndjson = "*"
panoptes-client = "*"
django-debug-toolbar = "*"

[dev-packages]
csvkit = "*"

[requires]
python_version = "3.9"
