{% load humanize %}
<style>
  .workflow-stats td {
    text-align: right;
  }

  .workflow-stats td:first-child {
    text-align: left;
  }
</style>
<table class="workflow-stats">
  <tr>
    <td>Total retired subjects</td>
    <td>{{subject_count|intcomma}}</td>
  </tr>
  <tr>
    <td>Total subjects with covenants</td>
    <td>{{covenants_count|intcomma}} (+{{covenants_maybe_count|intcomma}} TBD)</td>
  </tr>
  <tr>
    <td>Total covenants mapped</td>
    <td>{{mapped_count|intcomma}}</td>
  </tr>
</table>