GDAL_LIBRARY_PATH = '/opt/homebrew/opt/gdal/lib/libgdal.dylib'
GEOS_LIBRARY_PATH = '/opt/homebrew/opt/geos/lib/libgeos_c.dylib'

SQL_ALCHEMY_DB_CONNECTION_URL = 'postgresql+psycopg2://racial_covenants_processor:racial_covenants_processor@localhost:5432/racial_covenants_processor'

ZOONIVERSE_QUESTION_LOOKUP = {
    'Ramsey County': {
        'panoptes_folder': 'mn_ramsey',  # relative to data/aggregation folder
        'config_yaml': 'Extractor_config_workflow_13143_V4.10.yaml',
        'num_to_retire': 5,
        'bool_covenant': 'T0',
        'covenant_text': 'T2',
        'addition': 'T9',
        'lot': 'T5',
        'block': 'T7',
        'seller': None,
        'buyer': None,
        'deed_date': {
            'root_q': 'T18',
            'year': 'T15',
            'month': 'T16',
            'day': 'T17',
        },
        'month_lookup': {
            '1 - January': 1,
            '2 - February': 2,
            '3 - March': 3,
            '4 - April': 4,
            '5 - May': 5,
            '6 - June': 6,
            '7 - July': 7,
            '8 - August': 8,
            '9 - September': 9,
            '10 - October': 10,
            '11 - November': 11,
            '12 - December': 12,
        }
    },
    'King County': {

    }
}
