{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>The Deed Machine - By Mapping Prejudice</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/kelpui@1/css/kelp.css">
    <link href="{% static 'css/deed-machine.css' %}" rel="stylesheet" media="screen">
    
	</head>
	<body class="is-preload">
    <div class="grid-xl">
      <c-sidebar />
      <c-main>
        {{ slot }}
      </c-main>
    </div>
    {% comment %} <script type="module" src="https://cdn.jsdelivr.net/npm/kelpui@1/js/kelp.js"></script> {% endcomment %}
  </body>
</html>