<div class="row">
  <h3>Results: Page {{ page_obj.number|intcomma }} of {{ page_obj.paginator.num_pages|intcomma }}</h3>
</div>
<ul class="pagination list-unstyled">
  {% if page_obj.has_previous %}
  <li><a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}" class="button{% if not page_obj.has_previous %} disabled{% endif %}">Previous</a>
  {% else %}
  <li><span class="button disabled">Previous</li>
  {% endif %}

  {% if page_obj.has_next %}
  <li><a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}" class="button{% if not page_obj.has_next %} disabled{% endif %}">Next</a>
  {% else %}
  <li><span class="button disabled">Previous</li>
  {% endif %}
</ul>