django
django-postgres-copy
psycopg2
django-storages
boto3
inflect
django-localflavor
django-admin-rangefilter
djangorestframework
djangorestframework-gis
django-haystack
sphinx_rtd_theme
sphinxcontrib_django
