-i https://pypi.org/simple
anyio==4.4.0; python_version >= '3.8'
appnope==0.1.4; platform_system == 'Darwin'
argon2-cffi==23.1.0; python_version >= '3.7'
argon2-cffi-bindings==21.2.0; python_version >= '3.6'
arrow==1.3.0; python_version >= '3.8'
asgiref==3.8.1; python_version >= '3.8'
asttokens==2.4.1
attrs==23.2.0; python_version >= '3.7'
beautifulsoup4==4.12.3; python_full_version >= '3.6.0'
bleach==6.1.0; python_version >= '3.8'
boto3==1.34.127; python_version >= '3.8'
botocore==1.34.127; python_version >= '3.8'
certifi==2024.6.2; python_version >= '3.6'
cffi==1.16.0; python_version >= '3.8'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
click-plugins==1.1.1
cligj==0.7.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3' and python_version < '4'
collatex==2.3
comm==0.2.2; python_version >= '3.8'
cython==0.29.37; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
debugpy==1.8.1; python_version >= '3.8'
decorator==5.1.1; python_version >= '3.5'
defusedxml==0.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
django==4.2.13; python_version >= '3.8'
django-admin-rangefilter==0.13.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
django-debug-toolbar==4.4.2; python_version >= '3.8'
django-extensions==3.2.3; python_version >= '3.6'
django-filter==24.2; python_version >= '3.8'
django-localflavor==4.0
django-postgres-copy==2.7.4
django-storages==1.14.3; python_version >= '3.7'
djangorestframework==3.15.1; python_version >= '3.6'
djangorestframework-gis==1.0
entrypoints==0.4; python_version >= '3.6'
exceptiongroup==1.2.1; python_version < '3.11'
executing==2.0.1; python_version >= '3.5'
fastjsonschema==2.19.1
fiona==1.9.6; python_version >= '3.7'
fqdn==1.5.1
future==1.0.0; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
geopandas==0.14.4; python_version >= '3.9'
gunicorn==22.0.0; python_version >= '3.7'
hdbscan==0.8.33
idna==3.7; python_version >= '3.5'
importlib-metadata==7.1.0; python_version < '3.10'
inflect==7.2.1; python_version >= '3.8'
ipykernel==6.29.4; python_version >= '3.8'
ipython==8.18.1; python_version >= '3.9'
ipython-genutils==0.2.0
ipywidgets==8.1.3; python_version >= '3.7'
isoduration==20.11.0
jedi==0.19.1; python_version >= '3.6'
jinja2==3.1.4; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
joblib==1.4.2; python_version >= '3.8'
jsonpointer==3.0.0
jsonschema[format-nongpl]==4.22.0; python_version >= '3.8'
jsonschema-specifications==2023.12.1; python_version >= '3.8'
jupyter==1.0.0
jupyter-client==7.4.9; python_version >= '3.7'
jupyter-console==6.6.3; python_version >= '3.7'
jupyter-core==5.7.2; python_version >= '3.8'
jupyter-events==0.10.0; python_version >= '3.8'
jupyter-server==2.14.1; python_version >= '3.8'
jupyter-server-terminals==0.5.3; python_version >= '3.8'
jupyterlab-pygments==0.3.0; python_version >= '3.8'
jupyterlab-widgets==3.0.11; python_version >= '3.7'
levenshtein==0.23.0; python_version >= '3.7'
lxml==4.9.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
markdown==3.6; python_version >= '3.8'
markupsafe==2.1.5; python_version >= '3.7'
matplotlib-inline==0.1.7; python_version >= '3.8'
mistune==3.0.2; python_version >= '3.7'
more-itertools==10.3.0; python_version >= '3.8'
nbclassic==1.1.0; python_version >= '3.7'
nbclient==0.10.0; python_full_version >= '3.8.0'
nbconvert==7.16.4; python_version >= '3.8'
nbformat==5.10.4; python_version >= '3.8'
ndjson==0.3.1
nest-asyncio==1.6.0; python_version >= '3.5'
networkx==3.2.1; python_version >= '3.9'
notebook==6.5.5; python_version >= '3.7'
notebook-shim==0.2.4; python_version >= '3.7'
numpy==1.26.2; python_version >= '3.9'
overrides==7.7.0; python_version >= '3.6'
packaging==23.2; python_version >= '3.7'
pandas==2.1.3; python_version >= '3.9'
pandocfilters==1.5.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
-e git+https://github.com/zooniverse/aggregation-for-caesar@3aac81dd21cc1742e338aafcabe7dcc84f2f7ade#egg=panoptes-aggregation
panoptes-client==1.6.2
parso==0.8.4; python_version >= '3.6'
pexpect==4.9.0; sys_platform != 'win32'
pillow==10.3.0; python_version >= '3.8'
platformdirs==4.2.2; python_version >= '3.8'
prettytable==3.10.0; python_version >= '3.8'
progressbar2==4.2.0; python_full_version >= '3.7.0'
prometheus-client==0.20.0; python_version >= '3.8'
prompt-toolkit==3.0.47; python_full_version >= '3.7.0'
psutil==5.9.8; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
psycopg2==2.9.9; python_version >= '3.7'
psycopg2-binary==2.9.9; python_version >= '3.7'
ptyprocess==0.7.0; os_name != 'nt'
pure-eval==0.2.2
pycparser==2.22; python_version >= '3.8'
pygments==2.18.0; python_version >= '3.8'
pyproj==3.6.1; python_version >= '3.9'
pytesseract==0.3.10; python_version >= '3.7'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-json-logger==2.0.7; python_version >= '3.6'
python-levenshtein==0.23.0; python_version >= '3.7'
python-magic==0.4.27; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
python-slugify==8.0.4; python_version >= '3.7'
python-stdnum==1.20
python-utils==3.8.2; python_version >= '3.9'
pytz==2024.1
pyyaml==6.0.1; python_version >= '3.6'
pyzmq==24.0.1; python_version >= '3.6'
qtconsole==5.5.2; python_version >= '3.8'
qtpy==2.4.1; python_version >= '3.7'
rapidfuzz==3.9.3; python_version >= '3.8'
redo==2.0.4
referencing==0.35.1; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
rfc3339-validator==0.1.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
rfc3986-validator==0.1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
rpds-py==0.18.1; python_version >= '3.8'
s3transfer==0.10.1; python_version >= '3.8'
scikit-learn==1.3.2; python_version >= '3.8'
scipy==1.11.3; python_version < '3.13' and python_version >= '3.9'
send2trash==1.8.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
shapely==2.0.2; python_version >= '3.7'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sniffio==1.3.1; python_version >= '3.7'
soupsieve==2.5; python_version >= '3.8'
sqlalchemy==1.4.52; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
sqlparse==0.5.0; python_version >= '3.8'
stack-data==0.6.3
terminado==0.18.1; python_version >= '3.8'
text-unidecode==1.3
threadpoolctl==3.5.0; python_version >= '3.8'
tinycss2==1.3.0; python_version >= '3.8'
tornado==6.4.1; python_version >= '3.8'
traitlets==5.9.0; python_version >= '3.7'
typeguard==4.3.0; python_version >= '3.8'
types-python-dateutil==2.9.0.20240316; python_version >= '3.8'
typing-extensions==4.12.2; python_version >= '3.8'
tzdata==2024.1; python_version >= '2'
uri-template==1.3.0
urllib3==1.26.18; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0; python_version >= '3.8'
werkzeug==3.0.1; python_version >= '3.8'
widgetsnbextension==4.0.11; python_version >= '3.7'
zipp==3.19.2; python_version >= '3.8'
